################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/WebConfigTransform/bin
/WebConfigTransform/obj
*.suo
*.user
/packages
